In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import streamlit as st

In [3]:
# Fetching The Data
data = yf.download("AAPL",period='10y') ## Apple Dataset

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-26,24.632500,25.187500,24.600000,25.187500,22.364170,249482000
2014-09-29,24.662500,25.110001,24.657499,25.027500,22.222097,199065200
2014-09-30,25.202499,25.385000,25.132500,25.187500,22.364170,221056400
2014-10-01,25.147499,25.172501,24.674999,24.795000,22.015656,205965200
2014-10-02,24.817499,25.055000,24.510000,24.975000,22.175486,191031200
...,...,...,...,...,...,...
2024-09-19,224.990005,229.820007,224.630005,228.869995,228.869995,66781300
2024-09-20,229.970001,233.089996,227.619995,228.199997,228.199997,318679900
2024-09-23,227.339996,229.449997,225.809998,226.470001,226.470001,54146000
2024-09-24,228.649994,229.350006,225.729996,227.369995,227.369995,43556100
2024-09-25,224.929993,227.289993,224.020004,226.369995,226.369995,42099400

In [4]:
#Resetting the index which was set to date before
data.reset_index(inplace=True)

In [5]:
data["Adj Close"]

0        22.364170
1        22.222097
2        22.364170
3        22.015656
4        22.175486
           ...
2511    228.869995
2512    228.199997
2513    226.470001
2514    227.369995
2515    226.369995
Name: Adj Close, Length: 2516, dtype: float64