In [7]:
import pandas as pd
import numpy as np
import yfinance as yf
import streamlit as st
import matplotlib.pyplot as plt

In [6]:
# Fetching The Data
data = yf.download("AAPL",period='10y') ## Apple Dataset

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-11-06,27.150000,27.197500,26.950001,27.174999,24.233503,139874000
2014-11-07,27.187500,27.330000,27.137501,27.252501,24.302612,134766000
2014-11-10,27.254999,27.332500,27.167500,27.207500,24.262487,108782000
2014-11-11,27.174999,27.437500,27.100000,27.424999,24.456444,109769200
2014-11-12,27.344999,27.857500,27.342501,27.812500,24.802002,187769600
...,...,...,...,...,...,...
2024-10-30,232.610001,233.470001,229.550003,230.100006,230.100006,47070900
2024-10-31,229.339996,229.830002,225.369995,225.910004,225.910004,64370100
2024-11-01,220.970001,225.350006,220.270004,222.910004,222.910004,65276700
2024-11-04,220.990005,222.789993,219.710007,222.009995,222.009995,44944500
2024-11-05,221.800003,223.949997,221.139999,223.449997,223.449997,28044400

In [8]:
#Resetting the index which was set to date before
data.reset_index(inplace=True)

In [9]:
data["Adj Close"]

0        24.233503
1        24.302612
2        24.262487
3        24.456444
4        24.802002
           ...
2511    230.100006
2512    225.910004
2513    222.910004
2514    222.009995
2515    223.449997
Name: Adj Close, Length: 2516, dtype: float64

In [ ]:
plt.pl